<!DOCTYPE html>
<html>
<body>
 
    <div class="right">
      <div id="home-content">
        <h2>A place for travelers to connect. 
        </br> 
        </br>
        Jen and her husband have been traveling due to their long distance relationship for three years.  This app was created from a desire to connect with other people in travel locations and get a better overview of the activities, weather, and customs from travelers and locals who would use this app.
        </h2>
        </br>
        </br>
      </div>
     </div>
    <p id="create">
        Created by Jennifer Beaver
        <%# add github image with link  %>
    </p>
</body>
</html>