<!DOCTYPE html>
<html>
<body>
  <div class="grid">
    <div class="left">
        <div class="intro">
          <h1>
            WELCOME TO <br> TRAVELO
          </h1>
        </div>
        <div>
          <a class="btn login-home" href="/login"> Login</a> 
        </div>
    </div>
    <div class="right">
      <div id="home-content">
        <h2>A place for travelers to connect.</h2>
      </div>
      <div class="signup">
        <a class="btn " id="signup-home" href="/signup">Sign Up</a>   
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</body>