
<div class="container">
<header></header>
  <main>
    <div class="main-header">
      <h1 class="h1-main"> 
        Welcome, <%= current_user.full_name %>!      
      </h1>
      <h2 class="h2-main">Post something!</h2> 
    </div>

 <%= render 'form' %>

  </main>
</div>

