/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* note to self:
this page is not dynamic  */

body {
    background-color: #FAFD6A;
    color: #B4B4A2;    
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 88px;
    line-height: 86px;
    color: #FAFD6A;
    margin: 0;
}

.main-header {
    background-color: black;
}

.h1-main {
    background-color: black;
    color: white;
    font-size: 104px;
    padding-top: 82px;
    padding-left: 224px;
}

.h2-main {
    color: white;
    font-size: 32px;
    padding-left: 224px;
}

.h1-2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    color: #000000;
    background-color: #FAFD6A !important;
    text-align: center;
    padding-top: 96px;
}

h1 .intro {
    color: white;
    background-color: #41566C;
}

hr {
    height: 2px;
    color: black;
    background-color :black;
    width: 100%;
    border-width: 0;
    margin-top: .5em;
}

.hr2 {
    height: 1px;
    width: 25%
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 39px;
    color: #41411B;
}

.h2-2 {
    font-family: Montserrat, 'Sans-serif';
    font-size: 32px;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.body {
    font-family: Montserrat, 'Sans-serif';
    font-size: 16px;
    color: white;
    background-color: #41566C;
    padding: 32px 120px;
    /* padding-top: 32px;
    padding-bottom: 32px; */
}

.post {
    padding-bottom: 16px;
    padding-right: 16px;
}

.intro {
    margin-top: 156px;
    margin-left: 120px;
}

#home-content {
    margin-top: 190px;
    margin-left: 99px;
}

.intro h2{
    color: white;
    background-color: #41566C;
}

.notice h2{
    font-weight: bold;
    font-size: 16px;
    color: red;
    text-align: center;
}

p {
    font-family: Montserrat, 'sans-serif';
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #41411B
}

.btn {
    background: #000000;
    border-radius: 32px;
    font-size: 24px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-align: center;
    color: #FAFD64;
    padding: 15px 124px;
    border-color: #000000;
    border: 3px;
    display: inline-block;
    /* margin-left: 179px; */
}

.btn-new {
    background: #000000;
    border-radius: 32px;
    font-size: 24px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-align: center;
    color: #FAFD64;
    padding: 15px 124px;
    border-color: #000000;
    border: 3px;
    display: inline-block;
    margin-top: 21px;
}

.btn2 {
    background: #FAFD6A;
    border: 3px solid black !important;
    color: black;
    font-weight: 600 !important;
}

.btn:hover {
    color: #000000;
    background-color: #FAFD6A;
    font-weight: 600;
    border: 3px solid #000000;
}

.btn-new:hover {
    color: #000000;
    background-color: #FAFD6A;
    font-weight: 600;
    border: 3px solid #000000;
}

.btn-facebook {
    background: #3B5995;
    border-radius: 32px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 15px 124px;
    display: inline-block;
    margin-top: 48px;
}

.btn-google {
    background: red !important;
    margin-top: 16px !important;
    text-align: center !important;
}

.actions {
    text-align: center;
}

.OAuth {
    text-align: center !important;
}

.login {
    text-align: center !important;
    background-color: #EE8F2A !important;
    color: black !important;
    font-weight: 600 !important;
}

.login-home {
    background-color: black; 
    color: #FAFD6A;
    margin-top: 195px;
    border: 3px solid #FAFD6A;
    margin-left: 168px;
}

.login-home:hover {
    background-color: #FAFD6A;
    color: black;
}

#signup-home {
    margin-top: 265px;
    margin-left: 179px; 
}

/* <fb:login-button 
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button> */

.grid {
    display: flex;
}

.right,
.left {
    width: 50%;
    height: 100vh;
}

.left {
    background-color: black;
}

.form {
    text-align:center;
}

.form-group {
    text-align: center;
    font-family: Montserrat, 'sans-serif';
    font-size: 24px;
    font-weight: bold;
    color: #41411B;
    padding-top: 40px;
}

.center {
    text-align: center;
}

.about-link {
    margin-top: 21px;
}

.locations {
    padding-left: 200px;
    color: white !important;
    padding-bottom: 14px;
    margin-top: 8px;
    background: white;
}