<div class="container">
<header></header>
<main>
  <div class="intro">
      <% if session[:user_id] %>
          <div>
          You are logged in as: <%= current_user.username %>
          </div>
      <%end%>    
  </div>

  <div class="main-header">
    <h2 class="h2-main">Select a location.</h2> 
  </div>

  <div class="body">
    <table>
      <thead>
        <tr>
          <th><%= current_user.locations %></th>
          <%# iterate over location_name 's and create a link to show locations.post based on the nested route  users/id/location/id  %>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td class="post">
              <%= post.content %>
            </td>
            <td>
              <%= link_to 'Comment' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div>
    <a href='/posts/new'>Create New Post</a>
  </div>

  <div>
    <a href='/posts'>Go back to all of your posts!</a>
  </div>

</main>
</div>