<div class="container">
<header></header>
<main>
  <div class="intro">
      <% if session[:user_id] %>
          <div>
          You are logged in as: <%= current_user.username %>
          </div>
      <%end%>    
  </div>

  <div class="main-header">
    <h2 class="h2-main">Select a location.</h2>
    <ul class="locations">
      <%@locations.each do |location|%> 
        <ul>
        <%= link_to location.location_name, location_path(location)%>
        </ul>
        <% end %>
    </ul>
  </div>

  <div>
    <a href='/posts/new'>Create New Post</a>
  </div>

  <div>
    <a href='/posts'>Go back to all of your posts!</a>
  </div>

</main>
</div>